{% extends "layout.html" %}
{% block content %}
<center>
<h1>Registered classes</h1>

{% for att in results %}
<b>
<label>Welcome</label>  {{att[1]}}</b><br><br>
</center>
<div class="course_reg">
	<form action="/attend_class" method="POST">
		<h3>Subject code: {{att[6]}}</h3>
		<input type="hidden" name="course" value={{ att[6] }}>
		<button type="submit" class="btn-success">Attend Class</button> 
	</form>
	 
</div>

<div class="course_reg">
	<form action="/attend_class" method="POST">
		<h3>Subject code: {{att[7]}}</h3>
		<input type="hidden" name="course" value={{ att[7] }}>
		<button type="submit" class="btn-success">Attend Class</button>
	</form>
</div>

<div class="course_reg">
	<form action="/attend_class" method="POST">
		<h3>Subject code: {{att[8]}}</h3>
		<input type="hidden" name="course" value={{ att[8] }}>
		<button type="submit" class="btn-success">Attend Class</button>
	</form>
	  
</div> 
{% endfor %}

{% endblock %}